dist/
*.d.ts
node_modules
_templates
cdk.out.dev
docs/

prototype/web
tsconfig.eslint.json

# TODO: uncomment this after resolving onboarding app build
prototype/tools

dependency-check-bin/
reports/
